
p {
    font-family: serif;
}

th, td {
    padding: 10px;
    text-align: left;
}

table {
	width:100%
}

.hor {
 width:40px
}

.mat {
	font-weight: bold;
}

.cours {
	display:inline-block;
	padding:4px;
}
